.footer {
  bottom: 0;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  background-color: rgba(0, 0, 0, 0.527);
  width: 100%;
  font-size: 12px;
}

.footer-link {
  color: #a09000;
}

@media only screen and (min-width: 400px) {
  .footer {
    font-size: 14px;
  }
}

@media only screen and (min-width: 600px) {
  .footer {
    font-size: 16px;
  }
}
